body {
  font-family: sans-serif;
}
.main-header {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: yellowgreen;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 3px 12px rgba(0, 0, 0, 0.08);
}
.two-column-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}

.four-column-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding-top: 0.5rem;
}

header img {
  width: 100%;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  
}
.main-header h2 {
  border: 7px dashed black;
  padding: 1rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 2rem;
  font-size: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}
nav h3 {
 margin: 1rem;
}
nav {
  margin-top: auto;
  margin-bottom: auto;
 }
nav li {
  padding: 0.5rem;
 }
.grid-auto-columns {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
}
.two-column-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15rem;
}
ul {
  list-style-type: none;
  padding: 1rem;
}
nav h3 {
  font-size: 2rem;
  width: auto;
  height: auto;
  text-align: center;
}
.header-list a {
  text-decoration: none;
  color: brown;
  font-size: 1.6rem;
}
.header-list:hover {
  border: 4px dotted yellowgreen;
  width: auto;
  height: auto;
  padding: 4px;
  background-color: yellow;
}

.grid-container {
  display: grid;
  min-height: 100vh;
  /* border: 4px solid orangered; */
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
}
.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
/* .left-aside {
  border: 2px dotted blue;
}
.center-section {
  border: 2px dotted yellow;
 
}
.right-aside {
  border: 2px dotted coral;
} */
.filters-section {
  grid-area: sidebar;
  padding-left: 1rem;
}

.filters-section h2 {
  padding: 1rem;

  border-radius: 0.25rem 0.25rem 0 0;
  border: 1px solid #000;
}

.filters-section h3 {
  color: #424242;
  font-size: 1rem;
}

.filter-by-city-heading {
  padding: 1rem 1rem 0;
  display: grid;
  grid-template-columns: 1fr auto;
  border: 1px solid #000;
  border-bottom: none;
}
#filter-by-type-form {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  border: 1px solid #000;
}

#filter-by-type-form label {
  font-weight: bold;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgb(119, 184, 34);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.list-space{
  padding-top: 2rem;
}
.right-side-form-styling {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  border: 1px solid #000;
}
.right-side-form-styling label {
  font-weight: bold;
}
.right-side-form-styling input {
  width: auto;
  font-weight: bold;
}
.button-style-change {
  width: auto;
  height: auto;
  padding: 8px;
  color: black;
  background-color: greenyellow;
}
.button-style-delete {
  width: auto;
  height: auto;
  padding: 8px;
  color: white;
  background-color: rgb(0, 17, 255);
}